[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sampling"]
	path = sampling
	url = https://github.com/cran/sampling
	shallow = true
	registered = true
